/* ts_base.css */


#wrap{
  width: 100%; height: 100%;  margin: auto;
  background-color: #f2f2f2;
}

/* #headBox ==================================================== */
#headBox{
  /* 임시 position 아래로 스크롤 시 h1 사라지고 navBox 상단고정으로 변경함 */
  /* position: fixed; z-index: 1000; top: 0; left: 0; */
  width: 100%; height: 240px;
  background-color: transparent;
  
}
.container{
  width: auto; height: auto;
  padding-top: 30px; box-sizing: border-box;
}
h1{
  width: 460px; height: 90px; margin: auto;
}
h1 >a{
  display: block;
  width: 100%; height: 100%;  
  background-image: url('../../../img/1x/h1_logo.png');
  background-repeat: no-repeat;
}
.navBox{
  position: relative;
  width: 100%; height: 90px;
  margin-top: 30px;
  padding: 10px; box-sizing: border-box;
  background-color: #333;
  color: #fff;
}

.gnb {background: transparent; text-transform: uppercase;}
.menu {position: relative; margin: 20px auto 0 auto; width: 900px; }
.gnb > ul > li { 
  display: inline-block; 
  position: relative; 
  width: 100px; height: 30px;
  padding: 3px 10px 3px 0;
  z-index: 100;
}
.gnb > ul > li:first-child{width: 180px;}
.gnb > ul > li:nth-child(5){width: 150px;}

/* SECOND LEVEL */
.gnb > ul > li > ul {
  position: absolute; z-index: 1000;
  left: 0;
  top: 100%;
  width: auto; height: 200px;
  padding: 0 1000em; /* trick from css-tricks comments */
  margin: 0 -1000em; /* trick from css-tricks comments */
  z-index: 101;
  overflow: hidden;
  display: none;
  background-color: #333;
  border-top: 5px solid #a11923;
}
.gnb > ul > li:hover .drop {
  font-weight: bold;
}
.gnb > ul > li:hover > ul {
  display: block;
}
.gnb > ul > li > ul > li {
  width: auto; height: 30px;
  padding: 3px 0;
}

.unb{
  position:absolute; z-index: 1300; top:30px; right:30px; 
  width: 30px; height: 30px;
}
.unb a{
  display:block; width: 100%; height: 100%;
  background-image: url('../../../img/1x/unb_icon.png');
  background-repeat: no-repeat;
}

/* //#headBox =================================================== */

/* 공통으로 쓰이는 요소 */
.full_size{
  width: auto; height: auto;
  padding: 50px; box-sizing: border-box;
  text-align: center;
}
.cont{
  width: 460px; height: 240px;
  padding: 30px; box-sizing: border-box;
  background-color: #333;
  color: #fff; text-align: center;
}
.cont p { margin-bottom: 30px;}

/* #coffeeBox ==================================================== */
#coffeeBox{
  position: relative; top: 0; left: 0; z-index: 10;
  width: 100%; height: 660px;
  background-image: url('../../../img/img_08.jpg');
  background-repeat: no-repeat;
  background-size: 1920px;
  background-position: 20% 50%;
}
.coffee_cont{
  position: absolute; bottom: 90px; left: 90px;
}
.more_btn_area{
  display: inline;
}
.more_btn{
  width: 180px; height: 40px;
  color: #fff;
  background-color: #a11923;
}
/* //#coffeeBox =================================================== */

/* #brandBox ==================================================== */
#brandBox{
  position: relative;
  width: 100%; height: 420px;
  max-width: 1440px;
  margin: auto;
  padding: 20px; box-sizing: border-box;
  background-color: #f2f2f2;
}
.brand_img{
  width: 70%; height: 100%;
  background-color: #ddd;
  background-image: url('../../../img/img_15.jpg');
  background-size: 1000px;
  background-position: 20% 50%;
  background-repeat: no-repeat;

}
.brand_cont{
  position: absolute; bottom: 30px; right: 40px;
  width: 500px;
}
/* //#brandBox =================================================== */

/* #menuBox ==================================================== */
#menuBox{
  width: 100%; height: 960px; 
  max-width: 1440px;
  margin: auto;
  padding: 50px; box-sizing: border-box;
  background-color: #eeece6; text-align: center;
}
#menuBox h4{font-size: 1.3rem; margin-bottom: 30px;}
#menuBox>ul{width: 100%; height: 100%;}
#menuBox>ul>li{width: 600px; height: 33.333333%; margin: auto;}
.recommend_img{
  float: left;
  width: 240px; height: 240px; 
  margin-right: 30px;
  border-radius: 50%; background-color: #ddd; 
}
.recommend_text_area{
  float: left;
  width: 320px; height: 240px; 
  padding-top: 60px; box-sizing: border-box;
  text-transform: uppercase;
}

.img_01{
  background-image: url('../../../img/reco_img01.png'); 
  background-repeat: no-repeat; background-position: 50% 50%;
}
.img_02{
  background-image: url('../../../img/reco_img02.png'); 
  background-repeat: no-repeat; background-position: 50% 50%;
}
.img_03{
  background-image: url('../../../img/reco_img03.png');
   background-repeat: no-repeat; background-position: 50% 50%;
  }
/* .lmg_01:hover{transform: scale(1.2);} */

/* //#menuBox =================================================== */

/* #storeBox ==================================================== */
#storeBox{
  width: 100%; height: 240px;
  max-width: 1440px;
  margin: auto;
  background-color: #ddd ; 
  background-image: url('../../../img/img_11.jpg');
  background-repeat: no-repeat;
  background-size: 1440px;
}
#storeBox h2, #snsBox h2{color: #fff; margin-bottom: 20px; text-transform: uppercase;}
.search_area{
  width: 100%; height: auto;
}
#searchArea{
  display: inline-block;
  width: 60%; height: 50px;
  padding: 6px 10px 0;
  border: 5px solid #fff;
  background-color: #333;
  text-align: left;
  line-height: 40px;
  color: #fff;
  font-size: 1rem;
}
#sendBtn{width: 44px; height: 44px; background-color: #fff;}

/* //#storeBox =================================================== */

/* #snsBox ==================================================== */
#snsBox{
  width: 100%; height: 240px;
  max-width: 1440px;
  margin: auto;
}
#snsBox h2{color: #333;}
.sns_area{
  display: inline-block;
  width: 200px; height: auto;
  padding: 20px; box-sizing: border-box;
}
.sns_area div{float: left;}
.sns_area div:last-child{float: right;}
.sns_icon{width: 60px; height: 60px;}
.sns_icon a{
  display: block;
  width: 100%; height: 100%;
}
.sns_01 > a{
  background-image: url('../../../img/1x/f_logo.png');
  background-repeat: no-repeat;
}
.sns_02 > a{
  background-image: url('../../../img/1x/i_logo.png');
  background-repeat: no-repeat;
}
/* //#snsBox =================================================== */

/* #footBox ==================================================== */
#footBox{
  width: 100%; height: 240px;
  background-color: #333;
}
.foot_container{
  width: 100%; height: auto;
  padding: 20px; box-sizing: border-box;
}
.foot_area_01{
  width: 100%; height: auto;
}
.foot_logo{
  width: 300px; height: 60px;
  margin: auto;
  background-color: #a11923;
  background-image: url('../../../img/1x/foot_logo.png');
  background-repeat: no-repeat;
}
.family_site_box{float:right; width: 220px; height: 60px; margin-top: -50px;}
.family_site{float:left; width: 150px; height: 30px; margin-right:5px; background-color: #333; border: 1px solid #fcfcfc; color: #fcfcfc; line-height: 30px;}
.fnb_btn{float: left; width: 30px; height: 30px; background-color: #555; border: 1px solid #fcfcfc; color: #fcfcfc;}

.foot_area_02{
  width: 100%; height: auto;
  color: #fff;
  text-align: center;
  padding: 20px; box-sizing: border-box;
}
.fnb{width: 630px; height: 30px; margin: auto;}
.fnb>ul>li{float: left; width: auto; height: auto; margin-right:5px; padding-right:10px; box-sizing: border-box; border-right: 1px solid #fff;}
.fnb>ul>li:last-child{border-right: 0;}
.fnb>ul>li:nth-child(4){color: #FCC762;}
.company_info{width: 700px; height: auto; margin: auto;}
.copyright{text-transform: uppercase;}

/* //#footBox =================================================== */

.top_btn_area{
  position: fixed;
  bottom: 50px; right: 50px;
  width: auto; height: auto;
}
.top_btn{
  width: 60px; height: 60px;
  background-color: #a11923;
}
