/* ts_pcfull.css */

/* design data : 1920px */
@media screen and (min-width: 1920px){
  
  /* #coffeeBox ==================================================== */
  #coffeeBox{
    height: 900px;
    
  }
  /* //#coffeeBox =================================================== */

  /* #brandBox ==================================================== */
  #brandBox{
    height: 690px;
  }
  /* //#brandBox =================================================== */

  /* #menuBox ==================================================== */
 
  #menuBox{
    height: 690px;
    padding-top: 105px; 
  }
  #menuBox>ul{width: 1206px; height: auto; margin: auto;}
  #menuBox>ul>li{float:left; width: 33.333333%; height: auto;}
  .recommend_img, .recommend_text_area{float: none; margin: auto;}
  /* //#menuBox =================================================== */

/* @media end */
}