/* fran_pcfull.css */

/* design data : 1920px */
@media screen and (min-width: 1920px){

  

  /* #brandBox ==================================================== */
  #brandBox{
    height: 690px;
  }
  /* //#brandBox =================================================== */

  .step_list ul li:nth-child(5n){margin-right: 0;}
  .step_list ul li:nth-child(n+5){margin-bottom: 0;}
/* @media end */
}