/* fran_tab.css */

/* design data : 1024px */
@media screen and (min-width: 1024px) and (max-width: 1439px){

  
  /* #brandBox ==================================================== */
  #brandBox{
    height: 41.015625vw;
    max-height: 690px;
  }
  /* //#brandBox =================================================== */

  .step_list ul li:nth-child(5n){margin-right: 0;}
  .step_list ul li:nth-child(n+5){margin-bottom: 0;}
  
/* @media end */
}