/* fran_mob_v.css */

/* desigh data : 320px; */
@media screen and (max-width: 639px){

  #viewBox{
    background-size: auto 100%;
    padding: 10px; box-sizing: border-box;
  }
  .view_info{width: 300px; padding: 20px; box-sizing: border-box;}
  .view_info h3{width: 100%; margin-bottom: 20px;} 
  .view_info p{width: 100%; font-size: 1rem;}
  /* #brandBox ==================================================== */
  #brandBox{
    height: 480px;  height: 150vw;
    max-height: 600px;
    padding:10px;
  }
  .brand_img{width: 100%;}
  .brand_cont{right: 10px;
    width: 300px; height: 240px;
    position: absolute; 
    font-size: 0.8rem;
    bottom: 20px; }
  .brand_cont p { margin-bottom: 10px;}
  /* //#brandBox =================================================== */

  /* #stepBox ====================================================*/
  #stepBox{
    width: 100%; height: auto;
  }
  .step_list ul{width: 100%; height: auto; margin: auto;}
  .step_list ul li{
    float:left; width: 46%; height: 200px; 
    margin-right: 8%; margin-bottom: 8%;
    background-color: #ddd; 
  }
  .step_list ul li:nth-child(2n){margin-right: 0;}
  .step_list ul li:nth-child(n+9){margin-bottom: 0;}
  /* //#stepBox ====================================================*/
  /* #conditionBox ====================================================== */
  #conditionBox{
    height: auto;
  }
  .condition_area ul li{
    float:none; width: 100%; height: 160px; 
    margin-bottom: 30px; padding: 20px; box-sizing: border-box; 
  }
  .con_icon{
    float: left;
    width: 120px; height: 120px; 
  }
  /* //#conditionBox =============================================== */

  /* #infoBox =========================================================== */
  #infoBox{
    height: auto;
  }
  .info_cont{
    float: none;
    width: 100%; height: 200px;
    padding: 30px; box-sizing: border-box;
  }
  .fran_qna{margin-bottom: 20px;}
  .info_more_area{bottom: 30px;}

  /* #infoBox =========================================================== */


/* @media end */
}