/* fran_base.css */
/* headBox.css, footBox.css로 header, footer 구현 */

/* desigh data : 1024px;  */
#wrap{
  width: 100%; height: auto;  margin: auto;
  background-color: #fff;
  font-family: 'Noto Sans KR', sans-serif; line-height: 1.2rem;
}

/* #viewBox ====================================================== */
#viewBox{
  position: relative;
  width: 100%; height: 660px;
  background-color: #add;
  padding: 30px; box-sizing: border-box;
  background-image: url('../../../img/img_31.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.view_area{width: 100%; height: 100%; max-width: 1440px; margin: auto;}
.view_info{
  position: absolute; bottom: 5%; 
  width: 460px; height: 200px;
  background-color: #333;
  color: #fff;
  padding: 50px;
}
.view_info h3{
  margin-bottom: 60px;
  text-align: center; text-transform: uppercase; font-size: 1.8rem; 
}
.view_info p{font-weight: lighter; font-size: 1.5rem; line-height: 1.5rem;}
/* //#viewBox =============================================== */

h2:after,
h2::after{
  display: block;
  margin: 2rem 0;
  width: 80px;
  height: 2px;
  margin: auto; margin-top: 20px;
  background: #333;
  content: '';
}

/* #brandBox ==================================================== */
#brandBox{
  position: relative;
  width: 100%; height: 420px; 
  max-width: 1440px;
  margin: auto;
  padding: 20px; box-sizing: border-box;
  background-color: #fff;
}
.brand_img{
  width: 70%; height: 100%;
  background-color: #ddd;
  background-image: url('../../../img/img_15.jpg');
  background-size: 1440px;
  background-position: 20% 50%;
  background-repeat: no-repeat;

}
.brand_cont{
  position: absolute; bottom: 30px; right: 40px;
  width: 500px; height: 240px;
  padding: 30px; box-sizing: border-box;
  background-color: rgba(50, 50, 50, 0.9);
  color: #fff; text-align: center;
}
.brand_cont h3{margin-bottom: 10px;}
.brand_cont p { margin-bottom: 30px;}
.more_btn_area{
  display: inline;
}
.more_btn{
  width: 180px; height: 40px;
  color: #fff;
  background-color: #a11923;
}

/* //#brandBox =============================================== */

.full_size{
  padding: 30px; padding-top: 50px; box-sizing: border-box;
}
h2{width: 100%; height: auto; text-align: center; font-size: 2rem; line-height: 2rem; margin-bottom: 50px;}
/* #stepBox ====================================================== */
#stepBox{
  width: 100%; height: 900px;
}
.step_area{width: 100%; height: 100%; max-width: 1440px; margin: auto;}
.step_list{width: 100%; height: auto; margin-bottom: 40px;}
.check_list{width: 100%; height: auto;}
.check_list li{
  float:left; width: 17.6%; height: 260px; 
  margin-right: 3%; margin-bottom: 5%; padding:1rem; border-radius: 0.5rem; box-sizing: border-box; 
  background-color: #eeede7; 
} 
.check_list .num_box{font-size: 2rem; border-bottom: 2px solid #333; padding: 1rem 0; box-sizing: border-box;}
.check_list dl{width: 100%; height: auto; margin-top: 0.5rem;}
.check_list dt{font-size: 1rem; font-weight: bold; margin-bottom: 0.5rem;}
.check_list dd{font-size: 0.9rem;}

.step_info{
  width: 100%; height: auto;
   margin: auto; border: 2px solid #a11923; 
   padding: 20px; box-sizing: border-box;
   background-color: #fff; 
}
/* //#stepBox =============================================== */

/* #conditionBox ====================================================== */
#conditionBox{
  width: 100%; height: 600px;
}
.condition_area{width: 100%; height: 100%; max-width: 1440px; margin: auto;}
.condition_area ul{width: auto; height: auto; color: #333;}
.condition_area ul li
{float:left; width: 30%; height: 390px; 
  margin-right:5%; padding: 2%; padding-top: 50px; 
  border:2px solid #333; box-sizing: border-box;
  background-color: #eeede7; 
}
.condition_area ul li:last-child{margin-right: 0; }

.condition_area dt{font-size: 1.2rem; margin-bottom: 20px;}
.con_icon{
  width: 150px; height: 150px; 
  margin:auto; margin-bottom: 30px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 80%;
}

.c_icon_01{background-image: url('../../../img/fran/001-shop.svg');}
.c_icon_02{background-image: url('../../../img/fran/002-map.svg');}
.c_icon_03{background-image: url('../../../img/fran/003-book.svg');}

/* .condition_area dd{} */
/* //#conditionBox =============================================== */

/* #infoBox ====================================================== */
#infoBox{
  width: 100%; height: 450px;
}
#infoBox h3{font-size: 2rem; text-align: center; text-transform: uppercase;}
.info_cont{width: 47.5%; height:100%; padding:50px; box-sizing: border-box; border: 5px solid #a11923; background-color: #fff;}

.info_area{ width: 100%; height: 100%; max-width: 1440px; margin: auto;}
.fran_qna{position:relative; float: left;}
.fran_faq{position:relative; float: right;}

.info_more_area{position:absolute; bottom: 50px; left:0; right:0; width: 240px; height: 60px; margin: auto;}
.info_more_btn{width: 100%; height: 100%; color: #fff; line-height: 60px; background-color: #333; font-size: 1.2rem;}
/* //#infoBox =============================================== */