/* menu_pc.css */

/* design data : 1440px */
@media screen and (min-width: 1440px) and (max-width: 1919px){
  
  #viewBox{
    height: 900px;
    background-position: 50% 50%;
    background-size: 1920px;
  }
  #menuBox{
    height: auto;
  }
  .menu_list li{
    height: 400px;
  }
/* @media end */
}