/* menu_base.css */
/* headBox.css, footBox.css로 header, footer 구현 */

/* desigh data : 1024px;  */
#wrap{
  width: 100%; height: 100%;  margin: auto;
  background-color: #f2f2f2;
  font-family: 'Noto Sans KR', sans-serif; line-height: 1.2rem;
}

/* #viewBox =========================================== */
#viewBox{
  position: relative;
  width: 100%; height: 660px;
  background-image: url('../../../img/img_25.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1440px;
}
.slide_btn{
  position: absolute; z-index: 100; top: 50%; left: 0; right: 0;
  width: 98%; height: 0; margin: auto;
}
.slide_btn button{
  width: 100px; height: 100px;
  margin-top: -50px;
  background-color: rgba(200, 200, 200, 0.8);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.next{
  float: right; 
  border-top-right-radius: 0; border-bottom-right-radius: 0;
  background-image: url('../../../img/1x/next_btn.png');}
.prev{
  float: left; 
  border-top-left-radius: 0; border-bottom-left-radius: 0;
  background-image: url('../../../img/1x/prev_btn.png');}

.sub_menu{
  position: absolute; bottom: 0;
  width: 100%; height: 60px;
  background-color: rgba(230, 230, 230, 0.8);
  text-align: center;
  line-height: 30px;
  border-top: 5px solid #333;
  border-bottom: 2px solid #333;
  box-sizing: border-box;
}
.sub_menu a{display: block; width: 100%; height: 100%; line-height: 52px;}
.sub_menu ul{width: 60%; height: 100%; margin: auto;}
.sub_menu ul li{float:left; width: 25%; height: 100%;  font-weight: lighter;}
.sub_menu ul li.active{font-weight: bold;}
/* //#viewBox ========================================= */

/* #menuBox =========================================== */
#menuBox{
  position: relative;
  width: 100%; height: auto;
  background-color: #fff;
  padding: 20px; box-sizing: border-box;
}
.menu_list{width: auto; height: auto; max-width: 1440px; margin: auto;}
.menu_list li{
  float: left; width: 21%; height: 360px; 
  margin-right: 4.5%; margin-bottom: 50px;
  padding-top: 40px; box-sizing: border-box; 
  text-align: center;
  background-color: #fff;
}
.menu_list li:nth-child(4n){margin-right: 0;}
.menu_list li a{display: block; width: 100%; height: 100%;}
.img_bg{
  width: 100%; height: 90%;
  background-size:100%;
  transition: all 300ms ease;
}
.menu_list li.zoom .img_bg{
  background-size: 120%;
}

#menuBox ul{display: none;}
#menuBox ul.active{display: block;}

/* modal css */
.big_modal{
  display: none;
  position: fixed; top: 0; left: 0; z-index: 1500;
  width: 100%; height: 100%;
}
.big_img{
  position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;
  width: 90%; height: 70%;
  border: 1rem solid #fff;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 0.2rem;
}
.me_info{text-align: center; width: 100%; height: 35%; padding-top: 2rem; box-sizing: border-box;}
.me_info p:first-of-type{font-weight: bold; font-size: 1.2rem;}
.me_img{width: 100%; height: 65%; margin: auto;}

.close_btn{
  position: absolute; right: 0; top: 0;
  width: 3rem; height: 3rem;
  border: 0.3rem solid #fff;
  box-sizing: border-box;
  /* background-color: #333; */
  /* box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.8); */
  border-radius: 100%;
}
.close_btn>button{
  position: relative;
  display: block;
  width: 100%; height: 100%; border-radius: 100%;
}
.close_btn>button:before,
.close_btn>button:after{
  content: " "; display: block; position: absolute;
  top: 0; bottom: 0; left: 0; right: 0; margin: auto;
  width: 70%; height: 4px; background-color: #333;
  /* box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.8); */
  border-radius: 2px;
  transition: transform 500ms ease;
}
.close_btn>button:before{
  transform: rotate(45deg);
}
.close_btn>button:after{
  transform: rotate(-45deg);
}
.close_btn>button:hover:before,
.close_btn>button:focus:before{
  transform: rotate(180deg) translateY(-10px);
}
.close_btn>button:hover:after,
.close_btn>button:focus:after{
  transform: rotate(180deg) translateY(10px);
}
.big_bg{
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}


/* //#menuBox ========================================= */
