/* menu_mob_h.css */

/* design data : 640px */
@media screen and (min-width: 640px) and (max-width: 1023px){


  /* #viewBox ========================================= */
  #viewBox{
    height: 540px; height: 84.375vw;
    max-height: 660px;
  }
  .sub_menu ul{width: 100%;}

  /* //#viewBox ======================================== */
  /* #menuBox ========================================= */
  #menuBox{
    height: 2200px;
    padding: 30px;
  }
  .menu_list{max-width: 640px; margin: auto; }
  .menu_list li{
    width: 48%; margin-right: 4%;
  }
  .menu_list li:nth-child(2n){margin-right: 0;}

  /* //#menuBox ======================================== */
  
/* @media end */
}